* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
code,
pre,
ul,
ol,
body {
  margin: 0;
}

ul,
ol,
li {
  padding: 0;
  list-style-type: none;
}

img {
  max-width: 100%;
}

.font-serif {
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-weight: 400;
}

.font-mono {
  font-family: 'Share Tech Mono', monospace;
  font-style: normal;
  font-weight: 400;
}

.font-bold {
  font-weight: 700;
}

.font-black {
  font-weight: 900;
}

.font-italic {
  font-style: italic;
}
