.bg-gridient {
  background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.05) 0.125rem,
        transparent 0rem
      )
      0px 0px,
    #fff;
  background-size: 10% 0.125rem;
  border-right: 0.125rem solid #eee;
}

.archive-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.fade-white-transparent {
  background: linear-gradient(white 10%, transparent);
}

.archive-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10rem;
  grid-column-gap: 5%;
  box-shadow: 0 60px 70px -70px rgba(0, 0, 0, 0.4);
}

@media screen and (min-width: 800px) {
  .archive-card {
    grid-template-columns: minmax(4rem, 8rem) 1fr;
    grid-template-rows: auto auto;
  }
}

.archive-card__logo {
  grid-row: 1 / -1;
}

.archive-card__primary-info {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
  grid-column-gap: 1rem;
}

.snackalong__snacks {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-flow: rows;
  grid-gap: 1px;
}

.archive-card__project {
  grid-column: 1 / -1;
}

.archive-card__tactics-list {
  columns: 9em;
}

.quiz-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18em, 1fr));
  grid-gap: 2em;
}

.snack {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'snack-main clip'
    'snack-main neon';
}

.snack__main {
  display: grid;
  grid-area: snack-main;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: auto auto auto; */
  grid-template-areas:
    'title title title'
    'photo photo photo'
    'timestamp food vessel';
}

.snack__title {
  grid-area: title;
}

.snack__clip {
  grid-area: clip;
}

.snack__photo {
  grid-area: photo;
}

.snack__timestamp {
  grid-area: timestamp;
}

.snack__food {
  grid-area: food;
}

.snack__vessel {
  grid-area: vessel;
}

.snack__neon {
  grid-area: neon;
}
