.bg-gridient {
  background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.05) 0.125rem,
        transparent 0rem
      )
      0px 0px,
    #fff;
  background-size: 10% 0.125rem;
  border-right: 0.125rem solid #eee;
}

.archive-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.fade-white-transparent {
  background: linear-gradient(white 10%, transparent);
}

.archive-card {
  display: flex;
  box-shadow: 0 60px 70px -70px rgba(0, 0, 0, 0.4);
}

.archive-card__logo {
  grid-row: 1 / -1;
}

.archive-card__primary-info {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
  grid-column-gap: 1rem;
}

.snackalong__snacks {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-flow: rows;
  grid-gap: 1px;
}

.archive-card__project {
  grid-column: 1 / -1;
}

.archive-card__tactics-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  justify-content: space-between;
}

.snack {
  display: grid;
  grid-template-columns: 25rem 3fr;
  grid-template-rows: auto minmax(auto, 20rem) 60px auto;
  grid-template-areas:
    'title title'
    'clip photo'
    'timestamp photo'
    'details photo';
}

.snack__title {
  grid-area: title;
}

.snack__clip {
  grid-area: clip;
}

.snack__photo {
  grid-area: photo;
}

.snack__timestamp {
  grid-area: timestamp;
}

.snack__details {
  grid-area: details;
}
