$small-bp: 560px;
$medium-bp: 940px;
$large-bp: 1040px;

$archive-brown-900: #130e06;
$archive-brown-400: #83704b;
$archive-beige: #eee6d2;

.susu-mailchimp {
  display: flex;
  flex-direction: column;

  input {
    background-color: #fff;
    padding: 1.2rem;
    margin-bottom: 1.8rem;
    border-radius: 0.4rem;
    border: 0;
    font-size: 1rem;
  }

  label {
    color: $archive-beige;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  button {
    background-color: $archive-brown-400;
    color: $archive-brown-900;
    text-align: center;
    padding: 1.2rem;
    display: inline-block;
    align-self: flex-start;
    border-radius: 0.4rem;
    font-size: 1rem;
    cursor: pointer;
  }
}

.polaroid-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  grid-gap: 1rem;

  img {
    box-shadow: 5px 2px 7px 0px rgba(0, 0, 0, 0.17);
  }

  @media screen and (min-width: 1400px) {
    margin: 0 -5rem;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  }
}

.bios-grid {
  display: grid;
  justify-content: space-between;
}
